@font-face {
	font-family: HelveticaNeueCyr-Roman;
	src: url(fonts/HelveticaNeueCyr-Roman.otf);
}

@font-face {
	font-family: HelveticaNeueCyr-Bold;
	src: url(fonts/HelveticaNeueCyr-Bold.otf);
}

@font-face {
	font-family: HelveticaNeueCyr-Italic;
	src: url(fonts/HelveticaNeueCyr-Italic.otf);
}

body {
	overflow: hidden;
}

* {
	margin: 0;
	padding: 0;
}

.over-main {
	display: flex;
	width: 3840px;
	transition: 1s;
}

.main {
	background: url(images/bg.png);
	width: 1920px;
	height: 975px;
	background-size: cover;
}

.main-c {
	height: 975px;
}

span {
	width: 2px;
	height: 20px;
	background: #5f5f5f;
}

.lang {
	display: flex;
	align-items: center;
	font-family: HelveticaNeueCyr-Roman;
	font-size: 21.56px;
	color: #fff4e6;
	padding-top: 15px;
}

.lang img, .lang div, .lang span {
	margin: 0 5px;
}

.navigate {
	display: flex;
	margin-top: 150px;
}

.navigate span {
	margin: 0 25px;
}

.nav-part {
	color: #a0a0a0;
	font-size: 16px;
	font-family: HelveticaNeueCyr-Roman;
	cursor: pointer;
}

.nav-part:hover {
	color: #abbe43;
}

.name {
	font-size: 60px;
	font-family: HelveticaNeueCyr-Bold;
	color: #fff;
	margin-top: 110px;
}

.text-name {
	margin-top: 50px;
}

.text {
	color: #fff;
	font-family: HelveticaNeueCyr-Italic;
}

.t1 {
	font-size: 24.37px;
	background: #65731b;
	width: 420px;
	height: 40px;
	line-height: 40px;
	text-align: center;
}

.t2 {
	font-size: 23.3px;
	background: #962823;
	width: 400px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	margin-top: 10px;
	margin-left: 100px;
}

.circle {
	display: flex;
	margin-top: 100px;
}

.circ-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 125px;
	width: 125px;
	border: 3px #bebebe solid;
	border-radius: 50%;
	margin-left: 25px;
}


.circ-icon:first-child {
	margin-left: 0px;
}

.man {
	position: absolute;
	right: 75px;
	bottom: 0;
}

.arrow-block {
	position: absolute;
	width: 90px;
	height: 90px;
	background: #756053;
	border-radius: 50%;
	right: 25px;
	top: 50%;
	transform: translate(0, -50%);
}

.arrow {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-40%, -50%);
}

.description {
	width: 1920px;
	height: 975px;
}

.data {
	height: 487.5px;
}

.data .navigate {
	display: flex;
	justify-content: center;
	margin: 25px;
}

.desc {
	display: flex;
}

.well {
	font-size: 16px;
	font-family: HelveticaNeueCyr-Roman;
	color: #555555;
	margin-top: 65px;
	margin-left: 60px;
	width: 600px;
}

.img-desc {
	position: relative;
	margin-top: 40px;
}

.w2, .w3 {
	margin-top: 30px;
}

.pf1 {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 55px;
	height: 55px;
	border-radius: 50%;
	border: 3px #b4c557 solid;
	background: #fff;
}

.pf2 {
	position: absolute;
	top: 15px;
	right: -15px;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	border: 3px #b4c557 solid;
	background: #fff;
}

.slider {
	width: 100%;
	height: 487.5px;
	background: url(images/bg2.png);
}